<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ca.ontario.conestoga.volunteer_hub.mapper.ExtendedActivityMapper">


  <select id="getActivitiesWithVolunteerNum"
          resultType="ca.ontario.conestoga.volunteer_hub.others.vo.ActivityListItem">
    select a.*, ISNULL(vn.joinedVolunteerNum, 0)
    from activity a
        left join (select activity_id, count(*) as joinedVolunteerNum
                   from participation_record pr
                   group by activity_id) vn
        on vn.activity_id = a.id
    <if test="host_id != null">
      where a.host_id = #{hostId}
    </if>
  </select>
</mapper>