<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.ontario.conestoga.volunteer_hub.mapper.OrganizationMapper">
  <resultMap id="BaseResultMap" type="ca.ontario.conestoga.volunteer_hub.entity.Organization">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="logo_url" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="official_site_link" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="province" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="country" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="postcode" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="account_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, logo_url, phone, email, official_site_link, address, city, province, country, 
    postcode, account_id
  </sql>
  <select id="selectByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.OrganizationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.OrganizationExample">
    delete from organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Organization">
    insert into organization (id, name, logo_url, 
      phone, email, official_site_link, 
      address, city, province, 
      country, postcode, account_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{logoUrl,jdbcType=NVARCHAR}, 
      #{phone,jdbcType=NVARCHAR}, #{email,jdbcType=NVARCHAR}, #{officialSiteLink,jdbcType=NVARCHAR}, 
      #{address,jdbcType=NVARCHAR}, #{city,jdbcType=NVARCHAR}, #{province,jdbcType=NVARCHAR}, 
      #{country,jdbcType=NVARCHAR}, #{postcode,jdbcType=NVARCHAR}, #{accountId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Organization">
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="officialSiteLink != null">
        official_site_link,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=NVARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="officialSiteLink != null">
        #{officialSiteLink,jdbcType=NVARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=NVARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=NVARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=NVARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=NVARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.OrganizationExample" resultType="java.lang.Long">
    select count(*) from organization
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update organization
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.logoUrl != null">
        logo_url = #{record.logoUrl,jdbcType=NVARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=NVARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=NVARCHAR},
      </if>
      <if test="record.officialSiteLink != null">
        official_site_link = #{record.officialSiteLink,jdbcType=NVARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=NVARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=NVARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=NVARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=NVARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=NVARCHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update organization
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=NVARCHAR},
      logo_url = #{record.logoUrl,jdbcType=NVARCHAR},
      phone = #{record.phone,jdbcType=NVARCHAR},
      email = #{record.email,jdbcType=NVARCHAR},
      official_site_link = #{record.officialSiteLink,jdbcType=NVARCHAR},
      address = #{record.address,jdbcType=NVARCHAR},
      city = #{record.city,jdbcType=NVARCHAR},
      province = #{record.province,jdbcType=NVARCHAR},
      country = #{record.country,jdbcType=NVARCHAR},
      postcode = #{record.postcode,jdbcType=NVARCHAR},
      account_id = #{record.accountId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Organization">
    update organization
    <set>
      <if test="name != null">
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=NVARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="officialSiteLink != null">
        official_site_link = #{officialSiteLink,jdbcType=NVARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=NVARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=NVARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=NVARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=NVARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=NVARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Organization">
    update organization
    set name = #{name,jdbcType=NVARCHAR},
      logo_url = #{logoUrl,jdbcType=NVARCHAR},
      phone = #{phone,jdbcType=NVARCHAR},
      email = #{email,jdbcType=NVARCHAR},
      official_site_link = #{officialSiteLink,jdbcType=NVARCHAR},
      address = #{address,jdbcType=NVARCHAR},
      city = #{city,jdbcType=NVARCHAR},
      province = #{province,jdbcType=NVARCHAR},
      country = #{country,jdbcType=NVARCHAR},
      postcode = #{postcode,jdbcType=NVARCHAR},
      account_id = #{accountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>