<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.ontario.conestoga.volunteer_hub.mapper.PositionMapper">
  <resultMap id="BaseResultMap" type="ca.ontario.conestoga.volunteer_hub.entity.Position">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="min_age" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="max_age" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ideal_for" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="contact_name" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="contact_email" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="event_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="recruit_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="training_detail" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="working_condition" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="accessibility" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="application_available_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="application_deadline" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, min_age, max_age, ideal_for, contact_name, contact_email, event_id, recruit_num, 
    training_detail, working_condition, accessibility, description, application_available_time, 
    application_deadline
  </sql>
  <select id="selectByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.PositionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from position
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from position
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.PositionExample">
    delete from position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Position">
    insert into position (id, name, min_age, 
      max_age, ideal_for, contact_name, 
      contact_email, event_id, recruit_num, 
      training_detail, working_condition, accessibility, 
      description, application_available_time, 
      application_deadline)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{minAge,jdbcType=INTEGER}, 
      #{maxAge,jdbcType=INTEGER}, #{idealFor,jdbcType=NVARCHAR}, #{contactName,jdbcType=NVARCHAR}, 
      #{contactEmail,jdbcType=NVARCHAR}, #{eventId,jdbcType=INTEGER}, #{recruitNum,jdbcType=INTEGER}, 
      #{trainingDetail,jdbcType=NVARCHAR}, #{workingCondition,jdbcType=NVARCHAR}, #{accessibility,jdbcType=NVARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{applicationAvailableTime,jdbcType=TIMESTAMP}, 
      #{applicationDeadline,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Position">
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="minAge != null">
        min_age,
      </if>
      <if test="maxAge != null">
        max_age,
      </if>
      <if test="idealFor != null">
        ideal_for,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="recruitNum != null">
        recruit_num,
      </if>
      <if test="trainingDetail != null">
        training_detail,
      </if>
      <if test="workingCondition != null">
        working_condition,
      </if>
      <if test="accessibility != null">
        accessibility,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="applicationAvailableTime != null">
        application_available_time,
      </if>
      <if test="applicationDeadline != null">
        application_deadline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="minAge != null">
        #{minAge,jdbcType=INTEGER},
      </if>
      <if test="maxAge != null">
        #{maxAge,jdbcType=INTEGER},
      </if>
      <if test="idealFor != null">
        #{idealFor,jdbcType=NVARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=NVARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=NVARCHAR},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="recruitNum != null">
        #{recruitNum,jdbcType=INTEGER},
      </if>
      <if test="trainingDetail != null">
        #{trainingDetail,jdbcType=NVARCHAR},
      </if>
      <if test="workingCondition != null">
        #{workingCondition,jdbcType=NVARCHAR},
      </if>
      <if test="accessibility != null">
        #{accessibility,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="applicationAvailableTime != null">
        #{applicationAvailableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationDeadline != null">
        #{applicationDeadline,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.PositionExample" resultType="java.lang.Long">
    select count(*) from position
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update position
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=NVARCHAR},
      </if>
      <if test="record.minAge != null">
        min_age = #{record.minAge,jdbcType=INTEGER},
      </if>
      <if test="record.maxAge != null">
        max_age = #{record.maxAge,jdbcType=INTEGER},
      </if>
      <if test="record.idealFor != null">
        ideal_for = #{record.idealFor,jdbcType=NVARCHAR},
      </if>
      <if test="record.contactName != null">
        contact_name = #{record.contactName,jdbcType=NVARCHAR},
      </if>
      <if test="record.contactEmail != null">
        contact_email = #{record.contactEmail,jdbcType=NVARCHAR},
      </if>
      <if test="record.eventId != null">
        event_id = #{record.eventId,jdbcType=INTEGER},
      </if>
      <if test="record.recruitNum != null">
        recruit_num = #{record.recruitNum,jdbcType=INTEGER},
      </if>
      <if test="record.trainingDetail != null">
        training_detail = #{record.trainingDetail,jdbcType=NVARCHAR},
      </if>
      <if test="record.workingCondition != null">
        working_condition = #{record.workingCondition,jdbcType=NVARCHAR},
      </if>
      <if test="record.accessibility != null">
        accessibility = #{record.accessibility,jdbcType=NVARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationAvailableTime != null">
        application_available_time = #{record.applicationAvailableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applicationDeadline != null">
        application_deadline = #{record.applicationDeadline,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update position
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=NVARCHAR},
      min_age = #{record.minAge,jdbcType=INTEGER},
      max_age = #{record.maxAge,jdbcType=INTEGER},
      ideal_for = #{record.idealFor,jdbcType=NVARCHAR},
      contact_name = #{record.contactName,jdbcType=NVARCHAR},
      contact_email = #{record.contactEmail,jdbcType=NVARCHAR},
      event_id = #{record.eventId,jdbcType=INTEGER},
      recruit_num = #{record.recruitNum,jdbcType=INTEGER},
      training_detail = #{record.trainingDetail,jdbcType=NVARCHAR},
      working_condition = #{record.workingCondition,jdbcType=NVARCHAR},
      accessibility = #{record.accessibility,jdbcType=NVARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      application_available_time = #{record.applicationAvailableTime,jdbcType=TIMESTAMP},
      application_deadline = #{record.applicationDeadline,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Position">
    update position
    <set>
      <if test="name != null">
        name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="minAge != null">
        min_age = #{minAge,jdbcType=INTEGER},
      </if>
      <if test="maxAge != null">
        max_age = #{maxAge,jdbcType=INTEGER},
      </if>
      <if test="idealFor != null">
        ideal_for = #{idealFor,jdbcType=NVARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=NVARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=NVARCHAR},
      </if>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=INTEGER},
      </if>
      <if test="recruitNum != null">
        recruit_num = #{recruitNum,jdbcType=INTEGER},
      </if>
      <if test="trainingDetail != null">
        training_detail = #{trainingDetail,jdbcType=NVARCHAR},
      </if>
      <if test="workingCondition != null">
        working_condition = #{workingCondition,jdbcType=NVARCHAR},
      </if>
      <if test="accessibility != null">
        accessibility = #{accessibility,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="applicationAvailableTime != null">
        application_available_time = #{applicationAvailableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applicationDeadline != null">
        application_deadline = #{applicationDeadline,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Position">
    update position
    set name = #{name,jdbcType=NVARCHAR},
      min_age = #{minAge,jdbcType=INTEGER},
      max_age = #{maxAge,jdbcType=INTEGER},
      ideal_for = #{idealFor,jdbcType=NVARCHAR},
      contact_name = #{contactName,jdbcType=NVARCHAR},
      contact_email = #{contactEmail,jdbcType=NVARCHAR},
      event_id = #{eventId,jdbcType=INTEGER},
      recruit_num = #{recruitNum,jdbcType=INTEGER},
      training_detail = #{trainingDetail,jdbcType=NVARCHAR},
      working_condition = #{workingCondition,jdbcType=NVARCHAR},
      accessibility = #{accessibility,jdbcType=NVARCHAR},
      description = #{description,jdbcType=VARCHAR},
      application_available_time = #{applicationAvailableTime,jdbcType=TIMESTAMP},
      application_deadline = #{applicationDeadline,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>