<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.ontario.conestoga.volunteer_hub.mapper.VolunteerMapper">
  <resultMap id="BaseResultMap" type="ca.ontario.conestoga.volunteer_hub.entity.Volunteer">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="first_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="last_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dob" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="nationality" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="marital_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="occupation_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="postcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="has_drivers_licence" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="skills" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="academic_certificate" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="resume_link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="province" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="country" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="account_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, first_name, last_name, dob, sex, nationality, marital_status, occupation_status, 
    phone, email, address, postcode, has_drivers_licence, skills, academic_certificate, 
    resume_link, city, province, country, account_id
  </sql>
  <select id="selectByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.VolunteerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from volunteer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from volunteer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from volunteer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.VolunteerExample">
    delete from volunteer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Volunteer">
    insert into volunteer (id, first_name, last_name, 
      dob, sex, nationality, 
      marital_status, occupation_status, phone, 
      email, address, postcode, 
      has_drivers_licence, skills, academic_certificate, 
      resume_link, city, province, 
      country, account_id)
    values (#{id,jdbcType=INTEGER}, #{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, 
      #{dob,jdbcType=TIMESTAMP}, #{sex,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, 
      #{maritalStatus,jdbcType=VARCHAR}, #{occupationStatus,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR}, 
      #{hasDriversLicence,jdbcType=BIT}, #{skills,jdbcType=VARCHAR}, #{academicCertificate,jdbcType=VARCHAR}, 
      #{resumeLink,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{accountId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Volunteer">
    insert into volunteer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="dob != null">
        dob,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="maritalStatus != null">
        marital_status,
      </if>
      <if test="occupationStatus != null">
        occupation_status,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="postcode != null">
        postcode,
      </if>
      <if test="hasDriversLicence != null">
        has_drivers_licence,
      </if>
      <if test="skills != null">
        skills,
      </if>
      <if test="academicCertificate != null">
        academic_certificate,
      </if>
      <if test="resumeLink != null">
        resume_link,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        #{dob,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="occupationStatus != null">
        #{occupationStatus,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="hasDriversLicence != null">
        #{hasDriversLicence,jdbcType=BIT},
      </if>
      <if test="skills != null">
        #{skills,jdbcType=VARCHAR},
      </if>
      <if test="academicCertificate != null">
        #{academicCertificate,jdbcType=VARCHAR},
      </if>
      <if test="resumeLink != null">
        #{resumeLink,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ca.ontario.conestoga.volunteer_hub.entity.VolunteerExample" resultType="java.lang.Long">
    select count(*) from volunteer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update volunteer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.firstName != null">
        first_name = #{record.firstName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastName != null">
        last_name = #{record.lastName,jdbcType=VARCHAR},
      </if>
      <if test="record.dob != null">
        dob = #{record.dob,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.nationality != null">
        nationality = #{record.nationality,jdbcType=VARCHAR},
      </if>
      <if test="record.maritalStatus != null">
        marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.occupationStatus != null">
        occupation_status = #{record.occupationStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null">
        postcode = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.hasDriversLicence != null">
        has_drivers_licence = #{record.hasDriversLicence,jdbcType=BIT},
      </if>
      <if test="record.skills != null">
        skills = #{record.skills,jdbcType=VARCHAR},
      </if>
      <if test="record.academicCertificate != null">
        academic_certificate = #{record.academicCertificate,jdbcType=VARCHAR},
      </if>
      <if test="record.resumeLink != null">
        resume_link = #{record.resumeLink,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update volunteer
    set id = #{record.id,jdbcType=INTEGER},
      first_name = #{record.firstName,jdbcType=VARCHAR},
      last_name = #{record.lastName,jdbcType=VARCHAR},
      dob = #{record.dob,jdbcType=TIMESTAMP},
      sex = #{record.sex,jdbcType=VARCHAR},
      nationality = #{record.nationality,jdbcType=VARCHAR},
      marital_status = #{record.maritalStatus,jdbcType=VARCHAR},
      occupation_status = #{record.occupationStatus,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      postcode = #{record.postcode,jdbcType=VARCHAR},
      has_drivers_licence = #{record.hasDriversLicence,jdbcType=BIT},
      skills = #{record.skills,jdbcType=VARCHAR},
      academic_certificate = #{record.academicCertificate,jdbcType=VARCHAR},
      resume_link = #{record.resumeLink,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Volunteer">
    update volunteer
    <set>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        dob = #{dob,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="maritalStatus != null">
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="occupationStatus != null">
        occupation_status = #{occupationStatus,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postcode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="hasDriversLicence != null">
        has_drivers_licence = #{hasDriversLicence,jdbcType=BIT},
      </if>
      <if test="skills != null">
        skills = #{skills,jdbcType=VARCHAR},
      </if>
      <if test="academicCertificate != null">
        academic_certificate = #{academicCertificate,jdbcType=VARCHAR},
      </if>
      <if test="resumeLink != null">
        resume_link = #{resumeLink,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ca.ontario.conestoga.volunteer_hub.entity.Volunteer">
    update volunteer
    set first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      dob = #{dob,jdbcType=TIMESTAMP},
      sex = #{sex,jdbcType=VARCHAR},
      nationality = #{nationality,jdbcType=VARCHAR},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      occupation_status = #{occupationStatus,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      postcode = #{postcode,jdbcType=VARCHAR},
      has_drivers_licence = #{hasDriversLicence,jdbcType=BIT},
      skills = #{skills,jdbcType=VARCHAR},
      academic_certificate = #{academicCertificate,jdbcType=VARCHAR},
      resume_link = #{resumeLink,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>